<form method="post">
    {% csrf_token %}
    <label>URL:</label><input type="text" name="url">
    <label>Number of Past Items to Process:</label><input type="number" name="index_range">
    <label>Substring in Title:</label><input type="text" name="title_substring">
    <label>Country-Code:</label><input type="text" name="country_code">
    <label>When To Pull: </label><input type="time" name="when_to_pull" required><br><br>
    <button name="action" value="Create" type="submit">Create</button>
</form>

{%  for podcast in podcasts %}
    <form method="post">
        {% csrf_token %}
        <h1>{{ podcast }}</h1>
        <input type="number" name="id" value="{{ podcast.id }}" hidden>
        <label>URL:</label><input type="text" name="url" value="{{ podcast.url }}"> <br>
        <label>Number of Past Items to Process: </label><input type="number" name="index_range" value="{{ podcast.index_range }}"> |
        <label>Substring in Title:</label><input type="text" name="title_substring" value="{{ podcast.front_end_title_substring }}"> |
        <label>Country-Code:</label><input type="text" name="country_code" value="{{ podcast.country_code }}"> | 
        <label>When To Pull: </label><input type="time" name="when_to_pull" value="{{ podcast.front_end_when_to_pull }}" required><br><br>
        <label>Description</label>{{ podcast.description|safe|linebreaks }}
        <button name="action" value="Update" type="submit">Update</button>
    </form>
    <a href="{{ podcast.http_feed_location }}" target="_blank">RSS Feed</a><br>
    {%  if podcast.youtubepodcastvideo_set.all|length > 0 %}
        <h2>Videos</h2>
    {%  endif %}
    {%  for video in podcast.youtubepodcastvideo_set.all|dictsortreversed:"number"|slice:":3" %}
        <a href="{{video.get_location}}" target="_blank">{{ video.original_title }}</a> - <a href="{{ video.url }}" target="_blank">YouTube Link</a><br>
    {%  endfor %}
    <br><br>
{%  endfor %}